body {
    background-color: rgb(120, 81, 52);
}

.card {
    border: 5px solid rgb(71, 48, 33);
    border-radius: 30px;
    box-shadow: 0 0 30px;
}

h4{
    font-weight: bold;
}

b{
    color: black;
}

.btn {
    padding: 10px;
    border-radius: 10px;
}

.operation {
    font-size: 18px;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 10px;
}

.coins{
    font-weight: 600;
    font-size: 20px;
}

hr {
    height: 2px;
    background-color: black;
    border: none;
}